<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
    <style>
        title-box {
            width: max-content;
            height: 300px;
        }
        .context-box{
            max-width: max-content;
            height: 3000px;
        }
    </style>
</head>
<body>
<tr>
    <td>제목</td>
    <td>
        <div class = "title-box">
            <input type="text" name="title" id="title">
        </div>
    </td>
</tr>
<tr>
    <td>내용</td>
    <td>
        <div class = "context-box">
            <input type="text" name="context" id="context">
        </div>
    </td>
</tr>
<div>
    <button type="button" id="edit">Edit</button>
</div>
<script src = "/static/edit.js"></script>
</body>
</html>