<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<form action="user/login" method="post">
    <div class="email">
        <input type="text" placeholder="Enter your email" name="userEmail" required>
        <label for="userEmail"> <b>userEmail</b></label>
    </div>
    <div>
        <input type="text" placeholder="Enter your password" name="password" required>
        <label for="userPassword"> <b>password</b></label>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>