<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
</head>
<body>
    <div>
        <button type="button" id="Create" style="display:none;">글 작성</button>
        <button type="submit" id="Edit" style="display:none;">글 수정</button>
        <button type="submit" id="Delete" style="display:none;">글 삭제</button>
    </div>
    <div id="loginForm" style="display:none;">
        <p>로그인이 필요합니다. <a href="/user/login"></a></p>
    </div>
    <script src="/static/post.js"></script>
</body>
</html>